<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= params['name'] %>'s Profile</title>
    <link href="/bootstrap.min.css" rel="stylesheet">
    <link href="/style.css" rel="stylesheet">
    <style>
      body {
        background-color: <%= params['color'] %>;
        }
      #color {
        color: <%= params['color'] %>;
      }
    </style>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="/bootstrap.min.js"></script>
  </head>
  <body class="container">
    <div class="row">
      <div class="card col-lg-6 clearfix">
        <div class="col-sm-6">
          <img src="<%= params['photo'] %>"><br>
        </div>
        <div class="col-sm-6">
          <h1><%= params['name'] %></h2>
          <p><strong>Age:</strong> <%= params['age'] %></p>
          <p><strong>Star Sign:</strong> <%= params['star_sign'] %></p>
          <p><strong>Favorite Color:</strong> <span id="color"><%= params['color'] %>;</span></p>
          <p><strong>Hometown:</strong> <%= params['hometown'] %></p>
          <p><strong>What TV show did you watch most recently?</strong> <em><%= params['tv'] %></em></p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="card col-lg-6 clearfix">
        <form action="//formspree.io/<%= params['email'] %>" method="POST">
          <fieldset>
            <legend><h2>Contact <%= params['name'] %></h2></legend>
            <div class="row">
              <div class="col-sm-6">
                <label for="yourname">Your Name</label>
                <input id="yourname" type="text" name="name">
              </div>
              <div class="col-sm-6">
                <label for="from-email">Your Email</label>
                <input id="from-email" type="email" name="_replyto">
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <input id="send" type="submit" value="Send">
              </div>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="card col-xs-6 col-md-3">
        <p><strong><a href="/">Create a new profile</a></strong></p>
      </div>
    </div>
  </body>
</html>
