<% content_for :jumbotron do %>
  <p>You searched for <strong><%= params['query'] %></strong></p>.
<% end %>

<!-- Example row of columns -->

<div class="row">

  <div class="col-md-6">
    <h2><a href="<%= @opac_ebook_search.search_url %>" target="_blank">Capital Area District Library (OPAC)</a></h2>
    <p class="results-count"><%= @opac_ebook_search.total_results_count %></p>
    <ol class="book-list">
      <% @opac_ebook_search.single_result.each do |book| %>
        <li class="book">
          <a href="<%= book.link %>" target="_blank"><%= book.title %></a>
          by <%= book.author %>
        </li>
      <% end %>
      <% @opac_ebook_search.results.each do |book| %>
        <li class="book">
          <a href="<%= book.link %>" target="_blank"><%= book.title %></a>
          by <%= book.author %>
        </li>
      <% end %>
    </ol>
    <p><a class="btn btn-default" href="<%= @opac_ebook_search.search_url %>" target="_blank" role="button">Go to CADL &raquo;</a></p>
   </div>

   <div class="col-md-6">
    <h2><a href="<%= @kindle_unlimited_ebook_search.search_url %>" target="_blank">Kindle Unlimited</a></h2>
    <p class="results-count"><%= @kindle_unlimited_ebook_search.total_results_count %></p>
    <ol class="book-list">
      <% @kindle_unlimited_ebook_search.results.each do |book| %>
            <li class="book">
              <a href="<%= book.link %>" target="_blank"><%= book.title %></a>
              by <%= book.author %>
            </li>
      <% end %>
    </ol>
    <p><a class="btn btn-default" href="<%= @kindle_unlimited_ebook_search.search_url %>" target="_blank" role="button">Go to Kindle Unlimited &raquo;</a></p>
  </div>

</div>
