<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Free Ebooks</title>
    <link href="/bootstrap.min.css" rel="stylesheet">
    <link href="/style.css" rel="stylesheet">
  </head>

  <body class="container">
    <header>
      <h1>Find free ebooks</h1>
      <p>You searched for <strong><%= params['keyword'] %></strong></p>.
    </header>
    <main>
      <section>
        <h2><a href="<%= @opac_url %>">Capital Area District Library</a></h2>
        <p class="results-count"><%= @opac_count %> results</p>
        <ol class="book-list">
          <% @opac_records.each do |book| %>
            <li class="book">
              <a href="<%= book[:link] %>"><%= book[:title] %></a>
              by <%= book[:author] %>
            </li>
          <% end %>
        </ul>
      </section>
      <hr>
      <section>
        <h2><a href="<%= @ku_url %>">Kindle Unlimited</a></h2>
        <p class="results-count"><%= @ku_count %></p>
        <ol class="book-list">
          <% @ku_records.each do |book| %>
            <li class="book">
              <a href="<%= book[:link] %>"><%= book[:title] %></a>
              by <%= book[:author] %>
            </li>
          <% end %>
        </ul>
      </section>

   </main>
    <footer>
      <div class="footer">
        <p>Copyright &copy Katie Fritz, 2015</p>
      </div>
    </footer>
  </body>
</html>
